.App {
  text-align: center;
  background: #F7F7F7;
}

.App-header {
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 80%;
  padding: 0.5rem 0 1rem 0;
}
